<% 
    let pageMeta = {
        title:"about"
    }
%>

<%- include ('../parts/_head',{meta:pageMeta}); %>
<%- include ('../parts/_header'); %>
<body>

    <div class="contents">
       
アバウトページです。



    </div><!-- /.contents -->
    
</body>
</html>